@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to online notes!</h1>
    <h3> University project by Kipras, Dominykas and Balys</h3>
    <p>Hard to keep up with all the note? Work smarter not harder and write together!</p>
</div>
