@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to online notes!</h1>
<<<<<<< HEAD
    <h4>App created by: Dominykas, Kipras ir Balys</h4>
    <p>Stop wasting time to take notes when others can do it for you!</p>
</div>
=======
    <h3> University project by Kipras, Dominykas and Balys</h3>
    <p>Hard to keep up with all the note? Work smarter not harder and write together!</p>
</div>
>>>>>>> c2e3c57d94fe2cf9ba47d329384f29e1ebea1360
