@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to online notes!</h1>
    <h4>App created by: Dominykas, Kipras ir Balys</h4>
    <p>Stop wasting time to take notes when others can do it for you!</p>
</div>